section,
header {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

html {
	overflow-x: hidden;
	font-family: 'Roboto', 'Merriweather', serif;
}

a {
	color: unset;
	text-decoration: none;
}

// body {
// font-family: 'Merriweather', serif;
// }