section,
header {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}

html {
	overflow-x: hidden;
	font-family: 'Roboto', 'Merriweather', serif;
	// padding-bottom: 500px;
}

a {
	color: unset;
	text-decoration: none;
}

.h1_section_title {
	font-family: 'Merriweather';
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: #777777
}

.hide {
	visibility: hidden !important;
	opacity: 0 !important;
	transition: .3s ease-in-out;
}