header {
	display: flex;
	justify-content: space-between;
	margin-top: 38px !important;

	.logo {
		z-index: 999;
	}

	.icons {
		display: flex;
		gap: 50px;

		img,
		svg {
			cursor: pointer;
		}

		>svg {
			z-index: 999;

			path {
				opacity: 1;
				transition: .3s ease-in-out;
			}
		}
	}
}